@charset "UTF-8";
/* @import "mixinFallback" */
/* line 41, ../sass/tictactoe.scss */
span.show {
  display: inline-block;
}

/* line 45, ../sass/tictactoe.scss */
div.show {
  display: block;
}

/* line 49, ../sass/tictactoe.scss */
body {
  background-color: #ddd;
}

/* line 55, ../sass/tictactoe.scss */
header .toprow {
  margin-top: 5px;
}
/* line 59, ../sass/tictactoe.scss */
header .hidden {
  display: none;
}
/* line 63, ../sass/tictactoe.scss */
header #label_loggedinas {
  color: #c12e2a;
  margin-left: 5px;
}

/* line 73, ../sass/tictactoe.scss */
main #label_tictactoe {
  font-weight: bold !important;
  text-align: left !important;
  margin-left: -20px;
}
@media only screen and (max-width: 890px) {
  /* line 73, ../sass/tictactoe.scss */
  main #label_tictactoe {
    font-size: 20px;
  }
}
@media only screen and (max-width: 710px) {
  /* line 73, ../sass/tictactoe.scss */
  main #label_tictactoe {
    font-size: 14px;
  }
}
/* line 86, ../sass/tictactoe.scss */
main #label_roundofrounds {
  text-align: left !important;
  margin-top: -10px;
  margin-left: -20px;
}
@media only screen and (max-width: 890px) {
  /* line 86, ../sass/tictactoe.scss */
  main #label_roundofrounds {
    font-size: 16px;
  }
}
@media only screen and (max-width: 710px) {
  /* line 86, ../sass/tictactoe.scss */
  main #label_roundofrounds {
    font-size: 10px;
  }
}
/* line 100, ../sass/tictactoe.scss */
main #ttt_field {
  height: auto;/*400px;*/
  background-color: #000;
  width: 33.3333333%;
  /*:nth-child(1) { margin-right:2px;margin-bottom:2px; } //Mache Abstände zwischen Kästchen gleichmaessig
  :nth-child(2) { margin-left:2px;margin-bottom:2px;margin-right:2px; }
  :nth-child(3) { margin-left:2px;margin-bottom:2px; }
  :nth-child(4) { margin-right:2px;margin-bottom:2px;margin-top:2px; }
  :nth-child(5) { margin-right:2px;margin-bottom:2px;margin-top:2px;margin-left:2px; }*/
}
/* line 110, ../sass/tictactoe.scss */
main .ttt_square {
  background-color: #444;
  height: 100%;
  border: solid;
  border-width: 2px;
  border-color: #000;
  width: 33.3333333%;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 123, ../sass/tictactoe.scss */
main .ttt_square:hover {
  background-color: #aaa;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

main .ttt_square_img {
	width:100%;
	height:auto;
	}

/* line 132, ../sass/tictactoe.scss */
main .ttt_row {
  height: auto;
}

/*PLAY-Buttons*/
#play_buttons {
    text-align:center;
    margin-top:6px;
  }

/* line 137, ../sass/tictactoe.scss */
main #highscore_table {
  margin-top: 50px;
  margin-bottom: 10px;
  display: table;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
}
/* line 145, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row {
  display: table-row;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 152, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row:hover {
  background-color: #ccc;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  -webkit-transition-delay: 0ms;
  transition-delay: 0ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 161, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row .highscore_table_cell {
  text-align: center;
  display: table-cell;
  border-right: solid;
  border-width: 1px;
  border-color: #ccc;
}
/* line 165, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row .highscore_table_cell:last-child {
  border-right: none;
}
/* line 172, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row_caption {
  display: table-row;
}
/* line 174, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row_caption .highscore_table_caption {
  font-weight: bold;
  border-bottom: solid;
  border-color: #ccc;
  border-width: 1px;
}
/* line 182, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row_caption .highscore_table_cell {
  text-align: center;
  display: table-cell;
  border-right: solid;
  border-width: 1px;
  border-color: #ccc;
}
/* line 186, ../sass/tictactoe.scss */
main #highscore_table .highscore_table_row_caption .highscore_table_cell:last-child {
  border-right: none;
}

/* line 196, ../sass/tictactoe.scss */
#socialbuttons {
  width: 60%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

/* line 204, ../sass/tictactoe.scss */
#overlayLogin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 215, ../sass/tictactoe.scss */
#overlayLogin #overlay {
  width: 50%;
  min-height: 50%;
  background-color: #fff;
  margin: 10% auto 10% auto;
  box-shadow: 3px 3px 5px #999;
  position: relative;
}
